form
	max-width: 600px
	margin: 0 auto 50px
		

input
	background: none
	border: 3px solid $accent
	padding: 15px 40px
	font-size: 18px
	display: inline-block

	&:focus,
	&:active
		outline: none
		border-color: $accent-light

	&[type="text"],
	&[type="email"]
		border: none
		border: solid 2px $accent

	&[type="submit"]
		color: white
		background: $accent
		
		text-transform: uppercase

		&:hover
			background: $accent-light


.contact-info-group
	display: inline-block
	margin-right: 20px
	position: relative
	
	input
		padding: 15px 0px

	label
		+position(absolute, 50% null null 0px)
		+transform(translateY(-50%))
		font:
			family: $georgia
			style: italic
			size: 18px
		color: #999
		pointer-events: none
		+transition

	input:focus + label,
	input.has-value + label
		top: -10px
		font-size: 12px
		color: #aaa
